.space {
  margin-top: 3%;
}
.product-div {
  justify-content: center;
  display: inline-block;
  margin-left: 1%;
  background-color: #efefef;
  padding: 1%;
  border-radius: 3%;
  margin-bottom: 3%;
  margin-right: 3%;
}
.product-img {
  height: 200px;
  width: 200px;
  border-radius: 4%;
}
.product-div h3 {
  margin-top: 2%;
  font-weight: 200;
  text-decoration: underline;
  text-decoration-color: #d67d20;
  /* margin-bottom: 2%; */
}
.product-div h5 {
  padding-top: 1%;
  text-align: center;
  text-decoration: none;
  color: #2e2e2e;
}

.catalog-adjust {
  margin-left: 6%;
  margin-top: 0% !important;
}

.route {
  text-decoration: none;
  color: #2e2e2e;
}
.search-catalog {
  width: 90%;
  margin-left: 6%;
}
/* Dropdown Button */
.dropbtn {
  background-color: #d67d20;
  color: #2e2e2e;
  padding: 1%;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-right: 1%;
  margin-bottom: 1%;
  text-decoration: none;
  /* cursor: pointer; */
}
.dropbtn a {
  text-decoration: none;
  color: #2e2e2e;
}
/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus,
.softbars:hover,
.softbars:focus {
  background-color: #efefef;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: in-line;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.sortbar {
  list-style-type: none;
  margin-left: 3%;
}
li {
  float: left;
}
.checkbox-form-new {
  margin-left: 5%;
  /* margin-right: 0.5%; */
}
.home-button {
  float: right;
}
.home-text-down{
  font-weight: bold;
}
.grey-grey {
  background-color: #efefef;
  width: 90%;
  /* margin-left: 5%; */
}
.grey-main {
  height: 100%;
  /* margin-top: 0.5%; */
  display: inline-block;
  width: 20%;
  /* margin-left: 10%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-top: 1%;
  margin-bottom: 0px; */
  /* background-color: #efefef; */
  border: none;
}
.end-main-image {
  /* margin-left: 50%; */
  /* height: 20px; */
  display: inline;
  /* margin-left: 45px;
  margin-right: auto; */
}