.Topbar button {
  float: right;
  height: 35px;
  background-color: #f9f9f9 !important;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7% !important;
  border-color: #f9f9f9 !important;
}

.rotate-180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.nav-button {
  /* margin-bottom: 10px; */
  float: right;
  margin-right: 1%;
}
