#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
#upload-cnic-label {
  cursor: pointer;
  background-color: #e5e5e5;
  height: 6%;
  width: 65%;
  margin-right: 10%;
}

.label-forgot-password {
  font-size: 20px;
}
